<nav>
    <div class="logo-wrapper">
        <img src="../../assets/logo.jpg" alt="TheTastyPlace">
    </div>
    <ul>
        <li routerLinkActive="active" *ngIf="isAuth">
            <a routerLink="/recipes" >Recipes</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuth">
            <a routerLink="/create">Create New</a>
        </li>
        <li *ngIf = "isAuth">
            <a style="cursor: pointer" (click)="onLogout()">Log Out</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuth">
            <a routerLink="/login" >Login</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuth">
            <a routerLink="/register">Register</a>
        </li>
    </ul>
</nav>