nav {
    width: 90%;
    margin: 0 auto 10px auto;
    box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.38);
    height: 80px;
    font-size: 20px;
}

nav ul li {
    margin-top: 10px;
    font-size: 20px;
}

.logo-wrapper {
    max-width:100px;
    padding: 0 20px;
    
}

.logo-wrapper img {
    width: 100%;
}


