nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    width: 90%;
    margin: 0 auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: white;
}

.logo-wrapper {
    max-width:180px;
    padding: 0 20px;
    
}

.logo-wrapper img {
    width: 70%;
}

nav ul {
    display:flex;
    margin:0;
}

nav ul li {
    list-style: none;
    margin:0 12px;
    padding: 25px 0;
    border-top: 5px solid transparent;
}

nav ul li a {
    text-decoration: none;
    color: #4a4e52;
}
