<nav>
    <div class="logo-wrapper">
        <img src="../../assets/logo.jpg" alt="TheTastyPlace">
    </div>
    <ul>
        <li>
            <a routerLink="/recipes">Recipes</a>
        </li>
        <li>
            <a routerLink="/create">Create New</a>
        </li>
        <li>
            <a href="#">Log Out</a>
        </li>
        <li>
            <a routerLink="/login">Login</a>
        </li>
        <li>
            <a routerLink="/register">Register</a>
        </li>
    </ul>
</nav>