<nav class="navbar navbar-default">
    <div >
        <div class="logo-wrapper navbar-header">
            <img src="../../assets/TASTY-SHORT.png" alt="TheTastyPlace" routerLink="/">
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuth">
                    <a routerLink="/recipes">Рецепти</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuth" class="dropdown" appDropdown>
                    <a style="cursor: pointer" class="dropdown-toggle" role="button">Моят профил <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer" (click)="onFavoriteRecipes()">Любими рецепти</a></li>
                        <li><a style="cursor: pointer" (click)="onMyRecipes()">Моите рецепти</a></li>
                        <li><a style="cursor: pointer" (click)="onNewRecipe()">Създай рецепта</a></li>
                    </ul>
                </li>

                <li *ngIf="isAuth">
                    <a style="cursor: pointer" (click)="onLogout()">Изход</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuth">
                    <a routerLink="/login">Вход</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuth">
                    <a routerLink="/register">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>