<div class="row content-wrapper">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="alert alert-danger" *ngIf = "error">
            <p>{{error}}</p> 
         </div>
         <div *ngIf="isLoading" style="text-align: center;">
             <app-loading-spinner></app-loading-spinner>
         </div>
        <form #regForm="ngForm" (ngSubmit)='onSubmit(regForm)' *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-mail</label>
                <p class="email">
                <input type="email" 
                placeholder="test@test.com"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='test@test.com'"
                id="email" 
                class="form-control"
                ngModel
                name="email"
                required
                email>
                </p>
                
            </div>
            <div class="form-group">
                <label for="password">Парола</label>
                <p class="password">
                <input type="password"
                placeholder="Паролата трябва да е най-малко 6 символа" 
                onfocus="this.placeholder=''"
                onblur="this.placeholder='Паролата трябва да е най-малко 6 символа'"
                id="password" 
                class="form-control"
                ngModel
                name="password"
                required
                minlength="6">
                </p>
                
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!regForm.valid">Регистрирай се</button>
        </form>
    </div>
</div>

