/*.recipe-card {
    display: flex;
    flex-basis: 40%;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.38);
}

.recipe-short-info {
    display: flex;
    flex-direction: column;
}

.recipe-short-info > p:last-child {
    margin-top: 64px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
    color: #38AA32;
    text-transform: uppercase;
}




.image-container > img {
    max-width: 100%; 
    max-height: 100%;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
*/

.recipe-card {
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.38);
}


.recipe-image-and-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-container {
    border-radius: 5px;
    height: 150px;
    max-width: 220px;
    margin-bottom: 25px;
}

.image-container img {
    border: 1px solid #38AA32;
    border-radius: 5px;
}



.recipe-details-link {
    border: 2px solid #38AA32;
    color: white;
    background-color: #38AA32;
    border-radius: 3px;
    padding: 5% 29%;
    width: 50px;
    margin-top: 12px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
}

.category-text {
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    color: #38AA32;
    margin-top: 20px;
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    padding: 15px;
}

.desc-area {
    height: 90px;
}


