<!--<div class="list-group-item clearfix recipe-card" >
    <div class="recipe-short-info">
        <h3 class="list-group-item-heading">{{recipe.name}}</h3><br>
        
        <p class="list-group-item-text">{{recipe.description}}</p>
        <p class="list-group-item-text">Категория: {{recipe.category}}</p>
    </div>
    <span class="recipe-image-and-details">
        <div class="image-container">
            <img src="{{recipe.imageUrl}}" alt="{{recipe.name}}" class="img-responsive">
        </div>
        
        <a style="cursor:pointer" [routerLink]="[recipe.id]" (click)="onDetails(recipe.id)" class="recipe-details-link">Детайли</a>
    </span>
</div>-->

<div class="row recipe-card">
    <div class="col-md-8">
        <h3 class="list-group-item-heading">{{recipe.name}}</h3><br>
        <p class="list-group-item-text desc-area">{{recipe.description}}</p>
        
        <p class="list-group-item-text category-text">Категория: {{recipe.category}}</p>
    </div>
    <div class="col-md-4">
        <div class="image-container">
            <img src="{{recipe.imageUrl}}" alt="{{recipe.name}}" class="img-responsive">
        </div>        
        <a style="cursor:pointer" [routerLink]="[recipe.id]" (click)="onDetails(recipe.id)" class="recipe-details-link">Детайли</a>   
    </div>
</div>
