

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto
}

.recipe-template {
    width: 45%;
    margin-left: 15px;
}

.recipe-template >img {
    width: 100%;
}

.cat-button {
    background-color: #38AA32;
    color: white;
    padding: 5% 28%;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    border: 1px solid #38AA32;
}



li {
    cursor: pointer;
}

.npx-pagination .current {
    background-color: green;
}
