.recipes-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto
}

.recipe-template {
    width: 45%;
    margin-left: 15px;
}

.recipe-template >img {
    width: 100%;
}