<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle">Категории <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Закуска</a></li>
                <li><a href="#">Основни</a></li>
                <li><a href="#">Снакс</a></li>
                <li><a href="#">Десерти</a></li>
            </ul>
        </div>
    </div>
</div>

<hr>


<app-recipes-list></app-recipes-list>
