<div id="slider">
    <div class="slides">

        <!-- First slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1> Your title </h1>
                    <h2> Your description </h2>
                </div>
            </div>
            <div class="images">
                <img src="../../../assets/sweets.jpg">
            </div>
        </div>

        <!-- Second slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1> Your title </h1>
                    <h2> Your description </h2>
                </div>
            </div>
            <div class="images">
                <img src="../../../assets/snacks.jpg">
            </div>
        </div>

        <!-- Third slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1> Your title </h1>
                    <h2> Your description </h2>
                </div>
            </div>
            <div class="images">
                <img src="../../../assets/breakfasts.jpg">
            </div>
        </div>

        <!-- Fourth slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1> Основни ястия </h1>
                    <h2> Вкусни и засищащи, лесни за приготвяне и много питателни! </h2>
                </div>
            </div>
            <div class="images">
                <img src="../../../assets/dinners.jpg">
            </div>
        </div>

    </div>
</div>