<div class="row container-wrapper">
    <div class="title-wrapper">
        <h3>Моите рецепти</h3>
        <hr>
    </div>
    
    <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading && filteredRecipes.length<1" class="recipe-start">
        <h3>Няма налични рецепти в тази категория</h3>
    </div>
    


    <div class="col-md-4" *ngIf="filteredRecipes.length>= 1 && !isLoading">
        <div class="row">
            <div class="recipes-container">
                <app-recipe-item class="recipe-template" *ngFor="let recipeEl of filteredRecipes" [recipe]="recipeEl">
                </app-recipe-item>
            </div>
        </div>
    </div>
    <div class="col-md-8" *ngIf="filteredRecipes.length>= 1 && !isLoading">
        <div class="testclass">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>