.container-wrapper {
    width: 90%;
    margin: 30px auto;
}

h3 {
    background-color:  #38AA32;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    opacity: 70%;
    /*position: fixed;
    margin-top: -20px;*/
}



.recipe-start {
    width: 50%;
    margin: 200px auto;
}
