<div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>

<section class="recipe-container" *ngIf="!isLoading">
    <img src="{{recipe.imageUrl}}">
    <div class="recipe-details-info">
        <h2>{{recipe.name}}</h2>
        <p>{{recipe.description}}</p>
        
        <ul>
            <label>Продукти:...</label>
            <li>Продукт1</li>
            <li>Продукт2</li>
        </ul>
        <div class="recipe-details-buttons">
            <button class="btn btn-primary favorite"
            (click)="onChangeFavStatus()">{{isFavorite? 'Изтрии от':'Добави в'}} любими</button>
            <button class="btn btn-primary"
            (click)="onEditRecipe()">Edit</button>
            <button class="btn btn-danger"
            (click)="onDelete()">Delete</button>
        </div>
    </div>

</section>