<div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<app-back-button></app-back-button>

<section class="recipe-container" *ngIf="!isLoading">
    <img src="{{recipe.imageUrl}}">
    <div class="recipe-details-info">
        <h2>{{recipe.name}}</h2>
        <p>{{recipe.description}}</p>
        <h5>Продукти:</h5>
        <p>{{recipe.ingredients}}</p>
        <div class="recipe-details-buttons">
            <button class="btn btn-primary favorite"
            (click)="onChangeFav()">{{isFavorite? 'Изтрий от':'Добави в'}} любими</button>
            <button class="btn btn-primary" *ngIf="isCreator"
            (click)="onEditRecipe()">Редактирай</button>
            <button class="btn btn-danger" *ngIf="isCreator"
            (click)="onDelete()">Изтрий</button>
        </div>
    </div>

</section>