<div class="row main-container">
    <div class="image-container">
        <img src="../../assets/TASTY.png" alt="">
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="intro-text" *ngIf="!isAuth">
            <p style="text-align: center;">За да видиш рецептите, трябва да си регистриран потребител. Ако вече имаш
                акаунт, <a style="cursor: pointer; font-size: 1.3em" routerLink="/login">влез в профила си</a> ,
                а ако още
                нямаш такъв
                <a style="cursor: pointer; font-size: 1.3em;" routerLink="/register">регистрирай се ;)</a></p>
        </div>
        <div class="intro-text" *ngIf="isAuth">
            <p style="text-align: center;">Открий множество вкусни и лесни <a style="cursor: pointer; font-size: 1.3em"
                    routerLink="/recipes">рецепти</a>, създай си списък с <a style="cursor: pointer; font-size: 1.3em"
                    routerLink="/favoriterecipes">любими</a> или добави <a style="cursor: pointer; font-size: 1.3em"
                    routerLink="/myrecipes">свои рецепти!</a>
            </p>
            
        </div>
        <app-slider-titles *ngIf="isAuth"></app-slider-titles>
    </div>
        <div *ngIf="!isAuth">
            <section class="categories">
                <ul>
                    <li>
                        <h3>Закуски</h3>
                        <img src="../../assets/breakfasts.jpg" alt="breakfasts">
                    </li>
                    <li>
                        <h3>Основни ястия</h3>
                        <img src="../../assets/dinners.jpg" alt="dinners">
                    </li>
                    <li>
                        <h3>Снаксове</h3>
                        <img src="../../assets/snacks.jpg" alt="snacks">
                    </li>
                    <li>
                        <h3>Десерти</h3>
                        <img src="../../assets/sweets.jpg" alt="sweets">
                    </li>
                </ul>
            </section>
        </div>
        
    </div>
