<div class="row container-wrapper">
    <h3>Любими рецепти</h3>
    <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="filteredRecipes.length<1 && !isLoading" class="recipe-start">
        <h3>Няма налични рецепти в тази категория</h3>
    </div>

    <div class="col-md-5" *ngIf="filteredRecipes.length>= 1 && !isLoading">
        <div class="row">
            <div class="recipes-container">
                <app-recipe-item class="recipe-template"
                    *ngFor="let recipeEl of filteredRecipes | paginate: { itemsPerPage: 3, currentPage: p }"
                    [recipe]="recipeEl">
                    [recipe]="recipeEl">
                </app-recipe-item>
            </div>
            <pagination-controls style="text-align: center; width: 20%; margin:0 auto;" (pageChange)="p = $event">
            </pagination-controls>
        </div>
    </div>
    <div class="col-md-7" *ngIf="filteredRecipes.length>= 1 && !isLoading">
        <router-outlet></router-outlet>
    </div>
</div>